DEBUG=True
SECRET_KEY=p%il-%y+j3$_mhrggk1j=)fud903hbev+o43p*%lrdp85@mji_
ALLOWED_HOSTS=127.0.0.1, .localhost
DB_ENGINE=django.db.backends.postgresql
DB_NAME=agizz
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DJANGO_LOG_LEVEL=
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_HOST=
EMAIL_SERVER=
EMAIL_PORT=1
EMAIL_USE_TLS=